<template>
  <div>

    <p>
      {{ username }}<br>
      {{ store.name }}<br>
      {{ shop.swim() }}<br>
      {{ ShopExport.title }}
    </p>

    <v-row v-for="(item, index) in RootMenuMap" :key="index">
      <v-col cols="3">{{ item.icon }}</v-col>
      <v-col cols="3">{{ item.key }}</v-col>
      <v-col cols="3">{{ item.path }}</v-col>
      <v-col cols="3">{{ item.sort }}</v-col>
    </v-row>

    {{ menumap.MenuMap }}

  </div>
</template>

<script setup>
import { defineComponent, PropType, toRefs, ref, reactive, watch, onMounted } from "vue";
//import { RootMenuMap } from '~~~/js/check'
import { useStore } from '@/store/game'
import { RootMenuMap } from '@monorepo/js/index'//exports 寫法
import { ShopExport } from '@monorepo/shop/pages/index.vue'//exports 寫法

const menumap = require("../../js/index2");//export 寫法
const Shop = require("@monorepo/shop/js/check");
const shop = new Shop()
shop.name = 'tommy123'
shop.age = 39
const store = useStore()
const username = "this is setup set name"
const myid = ref(12)
const options = reactive({
  data: {
    page: 1,
    search: ""
  }
})
watch(options, (nv, ov) => {
  console.log(nv)
})

onMounted(() => {
})

</script>

