<template>
  <div>
    <!--yayayaya
    {{username}}
    {{options.data.page}}-->

    {{ username }}
    {{ myid }}
    {{ options.data.page }}
    {{ shopexport.title }}
    <button @click="testop()">test</button>
  </div>
</template>

<!--<script lang="ts">
  
  import { defineComponent, PropType, toRefs,ref, reactive } from "vue";
  import { useStore } from '@/store/game'
  export default defineComponent({
    name: "Home",
    setup(props) {
      const username = ref('tommy');
      const store=useStore()
      const options=reactive({
        data:{
          page:1,
          search:""
        }
      })
      console.log(store.getCount)
      return {
        username,options
      };
    },
  });
  </script>-->

<script setup>
import { defineComponent, PropType, toRefs, ref, reactive, watch } from "vue";
import { useStore } from '@/store/game'
const username = "home"

const myid = ref(12)
const shopexport = ref(ShopExport)
const options = reactive({
  data: {
    page: 1,
    search: ""
  }
})
watch(options, (nv, ov) => {
  console.log(nv)
})

const testop = () => {
  //options.data.page++
  options.data.search = "nononno"
}

</script>

<script>
export const ShopExport = {
  title: 'i am come from shop/page/.vue'
}

</script>

